//Import font
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");

/* Layout */
$header-height: 3rem;

// Colors
$text-color: #2f323aff; //gunmetal
$border-col:  #2f323aff; //gunmetal
$col-a: #b1ddf1ff; //uranian blue
$col-b: #9f87afff; //african violet

//Fonts and typography
$body-font: "Raleway", sans-serif;
$h2-font-size: 2rem;
$normal-font-size: 0.938rem;